<%- include('./headerAd.ejs') %>

    <main id="main-content" class="site-main-dashboard">
        <div class="page-dashboard-wrap">
            <div class="dashboard">
                <div class="row ">
                    <div class="col-12">
                        <h4 class="title-dashboard">Edit Cars Details</h4>
                        
                    </div>
                </div>
                <div class="themesflat-container">
                    <div class="tf-add-cart">
                        <form action="/admin/editcardetail/<%= c._id %>" method="post" id="submit-add-cart"
                            class="form-add-cart needs-validation" novalidate>
                            <fieldset id="information" class="mb-60">
                                <div class="inner-title mb-30">
                                    <span class="sub-title">Add Your Car Today</span>
                                    <h3 class="title">Add Your car</h3>
                                </div>
                                <div class="row">
                                    <div class="tfad-listing-title mb-30 col-md-8">
                                        <div class="form-group">
                                            <label>Listing Title (*)</label>
                                            <input type="text" id="listing-title" class="form-control" name="cname"
                                                placeholder="Enter title here" value="<%= c.cname %>">
                                        </div>
                                    </div>

                                   

                                    <div class="form-group col-md-4">
                                        <label>Listing Brand (*)</label>
                                        <div class="group-select">
                                            <select class="nice-select" tabindex="0" name="cbrand"><span
                                                    class="current">Select
                                                    Brand</span>

                                                <option value="<%= c.cbrand %>" class="current">Select</option>
                                                <% brand.forEach((item)=>{ %>
                                                    <option data-value class="option selected">
                                                        <%= item.brand %>
                                                    </option>

                                                    <% }) %>

                                            </select>
                                        </div>
                                    </div>



                                    <!-- 3 -->
                                    <div class="tfad-listing-title mb-30 col-md-5">
                                        <div class="form-group">
                                            <label>Price Per Day(in INR)*</label>
                                            <input type="text" id="listing-title" class="form-control" name="price"
                                                placeholder="Enter Price here" value="<%= c.price %>">
                                        </div>
                                    </div>

                                    <!--4-->
                                    <div class="tfad-listing-title mb-30 col-md-3">
                                        <div class="form-group">
                                            <label>Model Year(*)</label>
                                            <input type="text" id="listing-title" class="form-control" name="modelyear"
                                                placeholder="Enter Year here" value="<%= c.modelyear %>">
                                        </div>
                                    </div>
                                  <!--5-->
                                    <div class="description-fields mb-30 col-md-4">
                                        <div class="form-group">
                                            <label>Color*</label>
                                            <div class="group-select">
                                                <input type="text" name="color" value="<%= c.color %>" placeholder="Enter Car Color">
                                            </div>
                                        </div>
                                    </div>

                                    <!--6-->
                                    <div class="form-group col-md-3">
                                        <label>Select Fuel type (*)</label>
                                        <div class="group-select">
                                            <div class="group-select">
                                                <select name="fueltype" value="" tabindex="0" class="nice-select">
                                                    <option value="<%= c.fueltype %>" class="current">Select</option>
                                                    <option value="Petrol" class="option selected">Petrol</option>
                                                    <option value="Diesel" class="option selected">Diesel</option>
                                                    <option value="Electric" class="option selected">Electric</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <!--7-->
                                    <div class="tfad-listing-title mb-30 col-md-3">
                                        <div class="form-group">
                                            <label>Mileage (*)</label>
                                            <input type="number" id="listing-title"  class="form-control" name="mileage"
                                                placeholder="Enter Mileage here" value="<%= c.mileage %>">
                                        </div>
                                    </div>

                                    <!--8-->
                                    <div class="form-group col-md-3">
                                        <label>Seat Capacity(*)</label>
                                        <div class="group-select">
                                            <div class="group-select">
                                                <select name="seatcapacity" value="" tabindex="0" class="nice-select">
                                                    <option value="<%= c.seatcapacity %>" class="current">Select</option>
                                                    <option value="1" class="option selected">1</option>
                                                    <option value="2" class="option selected">2</option>
                                                    <option value="3" class="option selected">3</option>
                                                    <option value="4" class="option selected">4</option>
                                                    <option value="5" class="option selected">5</option>
                                                    <option value="6" class="option selected">6</option>
                                                    <option value="7" class="option selected">7</option>
                                                    <option value="8" class="option selected">8</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--9-->
                                    <div class="form-group col-md-3">
                                        <label>Condition (*)</label>
                                        <div class="group-select">
                                            <div class="group-select">
                                                <select name="condition" value="" tabindex="0" class="nice-select">
                                                    <option value="<%= c.condition %>" class="current">Select</option>
                                                    <option value="New" class="option selected">New</option>
                                                    <option value="Good" class="option selected">Good</option>
                                                    <option value="Average" class="option selected">Average</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--10-->
                                    <div class="form-group col-md-4">
                                        <label>Transmission(*)</label>
                                        <div class="group-select">
                                            <div class="group-select">
                                                <select name="transmission" value="" tabindex="0" class="nice-select">
                                                    <option value="<%= c.transmission %>" class="current">Select</option>
                                                    <option value="Automatic" class="option selected">Automatic</option>
                                                    <option value="Manual Transmission" class="option selected">Manual Transmission</option>    
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--11-->
                                    <div class="form-group col-md-4">
                                        <label>Driver Type(*)</label>
                                        <div class="group-select">
                                            <div class="group-select">
                                                <select name="drivertype" value="" tabindex="0" class="nice-select">
                                                    <option value="<%= c.drivertype %>" class="current">Select</option>
                                                    <option value="2WD" class="option selected">2WD</option>
                                                    <option value="3WD" class="option selected">3WD</option>    
                                                    <option value="4WD" class="option selected">4WD</option> 
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                     <!--12-->
                                     <div class="form-group col-md-4">
                                        <label>Doors(*)</label>
                                        <div class="group-select">
                                            <div class="group-select">
                                                <select name="door" value="" tabindex="0" class="nice-select">
                                                    <option value="<%= c.door %>" class="current">Select</option>
                                                    <option value="2" class="option selected">2</option>
                                                    <option value="4" class="option selected">4</option>    
                                                     
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--13-->
                                    <div class="description-fields mb-30">
                                        <div class="form-group">
                                            <label>Description*</label>
                                            <div class="group-select">
                                                <textarea id="description" value="" placeholder="Enter Discription here"
                                                    style="background-color: white;" name="discription"><%= c.discription %>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!--14-->
                                    <div class="description-fields mb-30">
                                        <div class="form-group">
                                            <label>Location*</label>
                                            <div class="group-select">
                                               <input type="text" name="location" value="<%= c.location %>" placeholder="Enter location.." id="">
                                            </div>
                                        </div>
                                    </div>


                                    

                                </div>
                                <!--row end-->


                            </fieldset>
                            <fieldset id="amenities" class="mb-60">
                                <div class="inner-title mb-30">
                                    <span class="sub-title">Add Your Car Today</span>
                                    <h3 class="title">Select Listing Features</h3>
                                </div>
                                <div class="tfad-listing-feature">
                                    <div class="listing-feature-item">
                                        <div class="form-group">
                                            <div class="group-select">
                                                <div class="radio">
                                                    <input id="front" type="checkbox" name="AC" value="true" <%=c.AC ? 'checked' : '' %>>
                                                    <label for="front">Air Conditioner ,<%= c.AC %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="rear" type="checkbox" name="PS" value="true" <%=c.PS ? 'checked' : '' %>>
                                                    <label for="rear">Power Streering ,<%= c.PS %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="camera" type="checkbox" name="cdplayer" value="true" <%=c.cdplayer ? 'checked' : '' %>>
                                                    <label for="camera">CD Player ,<%= c.cdplayer %></label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-feature-item">
                                        <div class="form-group">
                                            <div class="group-select">
                                                <div class="radio">
                                                    <input id="stereo" type="checkbox" name="PDL" value="true" <%=c.PDL ? 'checked' : '' %>>
                                                    <label for="stereo">Power Door Lock ,<%= c.PDL %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="cd" type="checkbox" name="airbagD" value="true" <%=c.airbagD ? 'checked' : '' %>>
                                                    <label for="cd">Airbag: Driver ,<%= c.airbagD %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="dvd" type="checkbox" name="CL" value="true" <%=c.CL ? 'checked' : '' %>>
                                                    <label for="dvd">Central Lock ,<%= c.CL %></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-feature-item">
                                        <div class="form-group">
                                            <div class="group-select">
                                                <div class="radio">
                                                    <input id="driver" type="checkbox" name="ABT" value="true" <%=c.ABT ? 'checked' : '' %>>
                                                    <label for="driver">Antilock Bracking System ,<%= c.ABT %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="passenger" type="checkbox" name="airbagP" value="true" <%=c.airbagP ? 'checked' : '' %>>
                                                    <label for="passenger">Airbag: Passenger ,<%= c.airbagP %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="brakes" type="checkbox" name="CS" value="true" <%=c.CS ? 'checked' : '' %>>
                                                    <label for="brakes">Crash Sensor ,<%= c.CS %></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-feature-item">
                                        <div class="form-group">
                                            <div class="group-select">
                                                <div class="radio">
                                                    <input id="power" type="checkbox" name="PW" value="true" <%=c.PW ? 'checked' : '' %>>
                                                    <label for="power">Power Windows ,<%= c.PW %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="defroster" type="checkbox" name="BA" value="true" <%=c.BA ? 'checked' : '' %>>
                                                    <label for="defroster">Brake Assist ,<%= c.BA %></label>
                                                </div>
                                                <div class="radio">
                                                    <input id="rear-window" type="checkbox" name="LS" value="true" <%=c.LS ? 'checked' : '' %>>
                                                    <label for="rear-window">Leather Seats ,<%= c.LS %></label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>



                            <fieldset id="upload-media" class="pd-bg">
                                <div class="inner-title mb-30">
                                    <span class="sub-title">Media</span>
                                    <h3 class="title">Upload Your Photos</h3>
                                </div>
                                <div class="upload-image-add-car">
                                    <div class="upload-image">
                                        <label for="photoLoad" class="uploadLabel">
                                            <!-- <i class="icon-Group4"></i>
                                            <span>Add a Photo</span> -->
                                            <img src="<%= c.image[0].url %>" alt="">
                                            <input type="file" id="photoLoad" class="photoLoad" accept="image/*">
                                        </label>
                                    </div>
                                    <div class="upload-image">
                                        <label for="photoLoad1" class="uploadLabel">
                                            <!-- <i class="icon-Group4"></i>
                                            <span>Add a Photo</span> -->
                                            <img src="<%= c.image[1].url %>" alt="">
                                            <input type="file" id="photoLoad1" class="photoLoad" accept="image/*">
                                        </label>
                                    </div>
                                    <div class="upload-image">
                                        <label for="photoLoad2" class="uploadLabel">
                                            <!-- <i class="icon-Group4"></i>
                                            <span>Add a Photo</span> -->
                                            <img src="<%= c.image[2].url %>" alt="">
                                            <input type="file" id="photoLoad2" class="photoLoad" accept="image/*">
                                        </label>
                                    </div>
                                    <div class="upload-image">
                                        <label for="photoLoad3" class="uploadLabel">
                                            <!-- <i class="icon-Group4"></i>
                                            <span>Add a Photo</span> -->
                                            <img src="<%= c.image[3].url %>" alt="">
                                            <input type="file" id="photoLoad3" class="photoLoad" accept="image/*">
                                        </label>
                                    </div>
                                    <div class="upload-image">
                                        <label for="photoLoad4" class="uploadLabel">
                                            <!-- <i class="icon-Group4"></i>
                                            <span>Add a Photo</span> -->
                                            <img src="<%= c.image[4].url %>" alt="">
                                            <input type="file" id="photoLoad4" class="photoLoad" accept="image/*">
                                        </label>
                                    </div>
                                </div>
                                <p class="one-photo text-red">*You must upload at least one photo</p>
                            </fieldset>
                            

                            <fieldset>
                                <button type="submit" class="button-save-listing">Update Car Detail</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <br><br><br><br><br>

            </div>
        </div>
    </main>

    </div>
    </div>

    </div>
    <!-- /#page -->

    <!-- Button Top -->
    <a id="scroll-top" class="button-go"></a>
    <!-- Button Top -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content-re-lo">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="title">Register</div>
                    <div class="register-form">
                        <div class="respond-register-form">
                            <form method="post" class="comment-form form-submit" action="/" accept-charset="utf-8"
                                novalidate="novalidate">
                                <fieldset>
                                    <label>User name</label>
                                    <input type="text" class="tb-my-input" name="text" placeholder="User name">
                                </fieldset>
                                <fieldset>
                                    <label>Email</label>
                                    <input type="email" class="tb-my-input" name="email" placeholder="Email">
                                </fieldset>
                                <fieldset>
                                    <label>Password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Your password">
                                </fieldset>
                                <fieldset>
                                    <label>Confirm password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Confirm password">
                                </fieldset>
                                <button class="sc-button" name="submit" type="submit">
                                    <span>Sign Up</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-box text-center mt-30">Allready have an account? <a class="color-popup "
                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Login</a></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="content-re-lo">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="title">Login</div>
                    <div class="register-form">
                        <div class="respond-register-form">
                            <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8">
                                <fieldset>
                                    <label>Account</label>
                                    <input type="email" id="email" class="tb-my-input" name="email"
                                        placeholder="Email or user name">
                                </fieldset>
                                <fieldset>
                                    <label>Password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Your password">
                                </fieldset>
                                <div class="title-forgot t-al-right mb-20"><a class="t-al-right"
                                        data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                                        data-bs-dismiss="modal">Forgot password</a>
                                </div>
                                <button class="sc-button" name="submit" type="submit">
                                    <span>Login</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-box text-center mt-30">Don’t you have an account? <a class="color-popup"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Register</a></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content-re-lo">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="title">Forgot your password?</div>
                    <div class="register-form">
                        <div class="respond-register-form">
                            <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8">

                                <fieldset>
                                    <label>Password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Your password">
                                </fieldset>
                                <button class="sc-button" name="submit" type="submit">
                                    <span>Get new password</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-box text-center mt-30"><a class="color-popup" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Back to Login</a></div>
                </div>

            </div>
        </div>
    </div><!-- Modal -->


    <!-- Javascript -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/jquery.nice-select.min.js"></script>
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/swiper.js"></script>
    <script src="../../assets/js/jquery-countTo.js"></script>
    <script src="../../assets/js/nouislider.min.js"></script>
    <script src="../../assets/js/price-ranger.js"></script>
    <script src="../../assets/js/magnific-popup.min.js"></script>
    <script src="../../assets/js/apexcharts.js"></script>
    <script src="../../assets/js/line-chart.js"></script>
    <script src="../../assets/js/wow.min.js"></script>
    <script src="../../assets/js/map.min.js"></script>
    <script src="../../assets/js/map.js"></script>
    <script src="../../assets/js/main.js"></script>

    </body>

    </html>