<%- include('./header.ejs') %>
    <div class="container py-5">
        <div class="row">
            <!-- Left Side (30%) -->
            <div class="col-md-4 text-center border-end">
                <img src="<%= i.url %>" alt="Profile Image" class="mb-3"
                    style="width: 30%; max-width: 200px; border-radius: 10px;">

                <div class="d-grid gap-2 px-4">
                    <a href="/profile"> <button class="btn btn-outline-dark">Update Profile</button></a>
                    <a href="/changepass"> <button class="btn btn-outline-dark">Change Password</button></a>
                    <a href="/booking"><button class="btn btn-dark">My Booking</button></a>
                    <a href="/logout"><button class="btn btn-outline-danger">Logout</button></a>
                </div>
            </div>

            <!-- Right Side (70%) -->
            <div class="col-md-8">
                <% if(msg.length>0){%>
                    <!--msg flash-->
                    <div class="alert alert-success">
                        <%= msg %>
                    </div>
                    <%}%>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <h4>Booking Requests</h4>
                            <span class="text-muted">Hello, <strong>
                                    <%= n %>
                                </strong></span>
                        </div>

                        <!--car Booking-->
                        <% book.forEach((b , index)=>{%>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="text-danger mb-3">Booking No #<%= index + 1 %>
                                    </h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="<%= b.carId.image[1].url %>" width="100" alt="Car Image" />
                                        </div>

                                        <div class="col-md-8">
                                            <h6 class="fw-bold">
                                                <%= b.carId ? b.carId.cname : 'N/A' %>
                                            </h6>
                                            <p class="mb-1">Fuel Type: <strong>
                                                    <%= b.carId.fueltype %> %>
                                                </strong>
                                            </p>
                                            <p class="mb-1">Mileage: <strong>
                                                    <%= b.carId.mileage %> Km/L %>
                                                </strong></p>

                                            <p class="mb-1">Model: <strong>
                                                    <%= b.carId.modelyear %> %>
                                                </strong></p>
                                            <p class="mb-1">Transmission: <strong>
                                                    <%= b.carId.transmission %> %>
                                                </strong></p>

                                            <% if(b.status=="Approved" ) {%>
                                                <span class="badge bg-success">👍Confirmed </span>
                                                <%} if(b.status=="Reject" ){%>
                                                    <span class="badge bg-danger text-white">
                                                        <span style="background:white;border-radius: 4px;">❌</span>
                                                        Not Confirmed</span>
                                                    <%} if ( b.status=="Pending" ) {%>
                                                        <span class="badge bg-warning">Not Confirmed</span>
                                                        <%}%>
                                        </div>
                                    </div>

                                    <!-- Table -->

                                    <div class="table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th colspan="7">
                                                        <h6 class="mt-4 text-primary text-center">Invoice</h6>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Car Name</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Total Days</th>
                                                    <th>Rent/Day</th>
                                                    <th>Total</th>
                                                    <th>Status</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <%= b.carId.cname %>
                                                    </td>
                                                    <td>
                                                        <%= b.fromdate %>
                                                    </td>
                                                    <td>
                                                        <%= b.todate %>
                                                    </td>
                                                    <% const from = new Date(b.fromdate); const to=new Date(b.todate);
                                                        const totalDays = Math.ceil((to - from) / (1000 * 60 * 60 * 24)) +
                                                        1; %>
                                                        <td>
                                                            <%= totalDays %>
                                                        </td>
                                                        <td>₹ <%= b.carId.price %>
                                                        </td>
                                                        <td><strong>₹ <%= totalDays * b.carId.price %>/-</strong></td>
                                                        <td>

                                                            <% if(b.status=="Approved" ){%>
                                                                <span class="badge bg-success text-white">
                                                                    👍<%= b.status %>
                                                                </span>
                                                                <%} if(b.status=="Reject" ){%>
                                                                    <span class="badge bg-danger text-white">
                                                                        <%= b.status %>
                                                                    </span>
                                                                    <%} if(b.status=="Pending" ) { %>
                                                                        <span class="badge bg-warning text-dark">
                                                                            <%= b.status %>
                                                                        </span>
                                                                        <%}%>
                                                        </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <%})%>
            </div>
        </div>
    </div>
    <%- include('./footer.ejs') %>