<%- include('./header.ejs') %>


    <!-- Breakcrumb -->
    <div class="widget-breakcrumb">
        <div class="themesflat-container">
            <div class="breakcrumb">
                <div class="title-breakcrumb">
                    <a class="home" href="/">Home</a>
                    <span>Property Listing</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Breakcrumb -->

    <!-- property-detail -->
    <div class="widget-property-detail">
        <div class="themesflat-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrap-property-car flex">
                        <div class="box-1">
                            <div class="icon-box-info flex">
                                <div class="info-sale">
                                    <span class="sale">-34%</span>
                                </div>
                                <div class="info flex">
                                    <span>Make:</span>
                                    <span class="fw-4">
                                        <%= car.cbrand %>
                                    </span>
                                </div>
                                <div class="info flex">
                                    <span>Model:</span>
                                    <span class="fw-4">
                                        <%= car.modelyear %>
                                    </span>
                                </div>
                                <div class="info flex">
                                    <span>Body:</span>
                                    <span class="fw-4">Sedan</span>
                                </div>
                            </div>
                            <div class="title-heading">
                                <%= car.cname %>
                            </div>

                            <div class="text-address">
                                <i class="icon-map-1-1"></i>
                                <p>
                                    <%= car.location %>
                                </p>
                            </div>
                        </div>
                        <div class="box-2 t-al-right">
                            <div class="icon-boxs flex">
                                <a href="#">
                                    <i class="icon-heart-1-1"></i>
                                    <span>Favorite</span>
                                </a>
                                <a href="#">
                                    <i class="icon-shuffle-2-11"></i>
                                    <span>Compare</span>
                                </a>
                            </div>
                            <div class="price-wrap flex">
                                <p class="price-sale">
                                    ₹ <%= car.price %>
                                </p>
                                <p class="price">₹ 3100/-</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="gallary-property-details">
                        <div class="swiper property-gallary2">
                            <div class="swiper-wrapper">
                                <% car.image.forEach(function(img) { %>
                                    <div class="swiper-slide"
                                        style="width: 100%; aspect-ratio: 16 / 9; overflow: hidden; border-radius: 10px;">
                                        <img src="<%= img.url %>" alt="Image"
                                            style="width: 100%; height: 100%; object-fit: contain; display: block; border-radius: 10px;">
                                    </div>
                                    <% }) %>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                        <div class="swiper property-gallary">
                            <div class="swiper-wrapper">
                                <% car.image.forEach(function(img) { %>
                                    <div class="swiper-slide"
                                        style="width: 100%; aspect-ratio: 4 / 3; overflow: hidden; border-radius: 10px;">
                                        <img src="<%= img.url %>" alt="Image"
                                            style="width: 100%; height: 100%; object-fit: cover; display: block; border-radius: 10px;">
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="post-property">
                        <div class="wrap-description wrap-style">
                            <h4 class="title">Description</h4>
                            <p>
                                <%= car.discription %>
                            </p>
                        </div>
                        <div class="wrap-car-overview wrap-style">
                            <h4 class="title">Car Overview</h4>
                            <div class="listing-info">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Vector5"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Condition:</span>
                                                <p class="listing-info-value">
                                                    <%= car.condition %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Group5"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Fuel Type:</span>
                                                <p class="listing-info-value">
                                                    <%= car.fueltype %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Group-15"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Doors:</span>
                                                <p class="listing-info-value">
                                                    <%= car.door %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Vector-13"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Year:</span>
                                                <p class="listing-info-value">
                                                    <%= car.modelyear %>
                                                        <p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Format-color-fill"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Color:</span>
                                                <p class="listing-info-value">
                                                    <%= car.color %>
                                                        <p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-dashboard-2"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Mileage: </span>
                                                <p class="listing-info-value">
                                                    <%= car.mileage %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Group-22"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Seats:</span>
                                                <p class="listing-info-value">
                                                    <%= car.seatcapacity %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-Vector-22"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Transmission :</span>
                                                <p class="listing-info-value">
                                                    <%= car.transmission %>
                                                        <p>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-xl-6 col-md-6 item">
                                        <div class="inner listing-infor-box">
                                            <div class="icon">
                                                <i class="icon-steering-wheel-1"></i>
                                            </div>
                                            <div class="content-listing-info">
                                                <span class="listing-info-title">Driver type: </span>
                                                <p class="listing-info-value">
                                                    <%= car.drivertype %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-car-feature wrap-style">
                            <h4 class="title">Features</h4>
                            <div class="tf-listing-info">
                                <div id="tf-features">
                                    <div class="features-item">
                                        <h5 class="features-type-title">Safety</h5>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>A/C:
                                            Front</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Central
                                            locking</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Leather
                                        </div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Sports
                                            package</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Navigation
                                            system</div>
                                    </div>
                                    <div class="features-item">
                                        <h5 class="features-type-title">Exterior</h5>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Front
                                            fog light</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Rain
                                            sensing wipe</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Rear
                                            Spoilers</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Sun roof
                                        </div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Navigation
                                            system</div>
                                    </div>
                                    <div class="features-item">
                                        <h5 class="features-type-title">Interior</h5>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>A/C:
                                            Front</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Child
                                            safety locks</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Leather
                                        </div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Driver
                                            air bags</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Navigation
                                            system</div>
                                    </div>
                                    <div class="features-item">
                                        <h5 class="features-type-title">Convenience</h5>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Power
                                            steering</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Vanity
                                            mirror</div>
                                        <div class="listing-feature-wrap"><i class="icon-Vector-32"></i>Trunk
                                            Light</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-car-location wrap-style">
                            <h4 class="title">Features</h4>
                            <div class="listing-address">
                                <svg width="22" height="30" viewBox="0 0 22 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11 29.1211C7.48438 23.8477 1.33203 16.6992 1.33203 10.5469C1.33203 5.21596 5.66908 0.878908 11 0.878908C16.3309 0.878908 20.668 5.21596 20.668 10.5469C20.668 16.6992 14.5156 23.8477 11 29.1211Z"
                                        stroke="#D01818" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M11 14.9414C8.57697 14.9414 6.60547 12.9699 6.60547 10.5469C6.60547 8.12385 8.57697 6.15234 11 6.15234C13.423 6.15234 15.3945 8.12385 15.3945 10.5469C15.3945 12.9699 13.423 14.9414 11 14.9414Z"
                                        stroke="#D01818" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <p>4517 Washington Ave. Manchester, Kentucky 39495</p>
                            </div>

                        </div>

                        <div class="wrap-car-review wrap-style">
                            <h4 class="title">Customer Review</h4>
                            <div class="listing-customer-review">
                                <div id="overall-rating-progress" class="progress">
                                    <svg class="progress-circle" width="187" height="186" viewBox="0 0 187 186"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M186 93C186 144.362 144.362 186 93 186C41.6375 186 0 144.362 0 93C0 41.6375 41.6375 0 93 0C144.362 0 186 41.6375 186 93ZM7.84935 93C7.84935 140.027 45.9726 178.151 93 178.151C140.027 178.151 178.151 140.027 178.151 93C178.151 45.9726 140.027 7.84935 93 7.84935C45.9726 7.84935 7.84935 45.9726 7.84935 93Z"
                                            fill="#F6F6F6" />
                                        <path
                                            d="M182.747 65.2706C189.087 85.458 188.32 107.192 180.572 126.887C172.824 146.582 158.559 163.063 140.128 173.61C121.698 184.157 100.204 188.141 79.1915 184.905C58.1789 181.668 38.903 171.404 24.5432 155.807C10.1834 140.209 1.59749 120.209 0.201677 99.105C-1.19414 78.0013 4.68351 57.0547 16.8651 39.7202C29.0468 22.3857 46.8047 9.69872 67.2099 3.75201C87.6151 -2.1947 109.449 -1.04598 129.109 7.0087L126.104 14.2665C108.103 6.89165 88.1118 5.83988 69.4288 11.2847C50.7459 16.7295 34.4867 28.3456 23.3332 44.2171C12.1798 60.0885 6.7982 79.2672 8.0762 98.5897C9.35421 117.912 17.2155 136.224 30.3633 150.506C43.5111 164.787 61.1601 174.184 80.3992 177.148C99.6382 180.111 119.318 176.463 136.193 166.806C153.068 157.149 166.129 142.06 173.223 124.027C180.317 105.994 181.019 86.0945 175.214 67.611L182.747 65.2706Z"
                                            fill="#D01818" />
                                    </svg>

                                    <div class="progress-text" data-progress="0">
                                        <p>Overall Ratings</p>
                                        <h3 class="overall-rating-number">4.4</h3>
                                        <p>Out Of 5</p>
                                    </div>
                                </div>
                                <div class="overall-rating-detail">
                                    <div class="overall-rating-detail-item">
                                        <label class="overall-rating-detail-label">Comfort</label>
                                        <div class="content">
                                            <div class="rating-info">
                                                <span>Rating 4.8 </span>
                                                <div class="overall-rating-detail-star">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <span>5.0</span>
                                                </div>
                                            </div>
                                            <div class=" bg-primary overall-rating-detail-progress" role="progressbar"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="overall-rating-detail-item">
                                        <label class="overall-rating-detail-label">Interior Design</label>
                                        <div class="content">
                                            <div class="rating-info">
                                                <span>Rating 4.8 </span>
                                                <div class="overall-rating-detail-star">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <span>5.0</span>
                                                </div>
                                            </div>

                                            <div class=" bg-primary overall-rating-detail-progress" role="progressbar"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="overall-rating-detail-item">
                                        <label class="overall-rating-detail-label">Performance</label>
                                        <div class="content">
                                            <div class="rating-info">
                                                <span>Rating 4.8 </span>
                                                <div class="overall-rating-detail-star">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <span>5.0</span>
                                                </div>
                                            </div>
                                            <div class=" bg-primary overall-rating-detail-progress" role="progressbar"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="overall-rating-detail-item">
                                        <label class="overall-rating-detail-label">Speed</label>
                                        <div class="content">
                                            <div class="rating-info">
                                                <span>Rating 4.8 </span>
                                                <div class="overall-rating-detail-star">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <span>5.0</span>
                                                </div>
                                            </div>
                                            <div class=" bg-primary overall-rating-detail-progress" role="progressbar"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="reviews-list">
                                <li class="review-item">
                                    <div class="review-media">
                                        <img src="/assets/images/avatar/avt-review.jpg" alt="image">
                                    </div>
                                    <div class="review-body">
                                        <div class="media-heading d-flex">
                                            <a href="#">Rohan De Spond</a>
                                            <span class="review-date">25 jan 2021</span>
                                        </div>
                                        <div class="rating-box d-flex">
                                            <label class="rating-comfort_service">very awesome & Comfort</label>
                                            <div class="star-rating-review">
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <span>5.0</span>
                                            </div>
                                        </div>
                                        <p class="review-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit.Curabitur have is
                                            covered many vulputate vestibulum Phasellus rhoncus, dolor eget
                                            viverra
                                            pretium dolor tellus aliquet nunc, vitae ultricies erat elit eu
                                            lacus. Vestibul
                                            non justo consectetur, cursus ante, tincidunt sapien. Nulla quis
                                        </p>
                                        <div class="image-review d-flex">
                                            <img src="/assets/images/page/rivew-custom.jpg" alt="">
                                            <img src="/assets/images/page/rivew-custom.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li class="review-item">
                                    <div class="review-media">
                                        <img src="/assets/images/avatar/avt-review.jpg" alt="image">
                                    </div>
                                    <div class="review-body">
                                        <div class="media-heading d-flex">
                                            <a href="#">Rohan De Spond</a>
                                            <span class="review-date">25 jan 2021</span>
                                        </div>
                                        <div class="rating-box d-flex">
                                            <label class="rating-comfort_service">very awesome & Comfort</label>
                                            <div class="star-rating-review">
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <i class="icon-Vector3"></i>
                                                <span>5.0</span>
                                            </div>
                                        </div>
                                        <p class="review-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit.Curabitur have is
                                            covered many vulputate vestibulum Phasellus rhoncus, dolor eget
                                            viverra
                                            pretium dolor tellus aliquet nunc, vitae ultricies erat elit eu
                                            lacus. Vestibul
                                            non justo consectetur, cursus ante, tincidunt sapien. Nulla quis
                                        </p>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="wrap-car-leave-a-reply">
                            <h4 class="title">Customer Review</h4>
                            <form action="/" id="leave-a-reply">
                                <div class="rating-wrap">
                                    <div class="rating-box">
                                        <label> Comfort </label>
                                        <div id="rating_comfort_service" class="star-rating-review">
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        <label> Performance </label>
                                        <div id="rating_performance" class="star-rating-review">
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        <label>
                                            Interior Design </label>
                                        <div id="rating_interior_design" class="star-rating-review">
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        <label> Speed </label>
                                        <div id="rating_speed" class="star-rating-review">
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-comment">
                                    <div class="d-flex">
                                        <fieldset class="input-post-comment">
                                            <input type="text" placeholder="First name">
                                            <i class="icon-user-1-1"></i>
                                        </fieldset>
                                        <fieldset class="input-post-comment">
                                            <input type="email" placeholder="Email Address">
                                            <i class="icon-Group2"></i>
                                        </fieldset>
                                    </div>
                                    <fieldset class="input-post-comment">
                                        <textarea class="write-post-comment">Write Review</textarea>
                                        <i class="icon-edit-1"></i>
                                    </fieldset>
                                    <fieldset class="input-post-comment">
                                        <div class="radio">
                                            <input id="check-comment" type="checkbox" name="check" value="check">
                                            <label for="check-comment">I agree to Terms & Conditions, Refund
                                                Policy and Privacy Policy of Fabrilife.</label>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <button type="submit" class="button-post-comment">Post Comment</button>
                                    </fieldset>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
                <!-- <div class="col-lg-1 col-md-4"></div> -->
                <div class="col-lg-4 col-md-12">

                    <div class="author-contact-listing-wrap">
                       
                        <form action="/bookingInsert" method="post" class="form-contact-admin" aria-label="Contact form">
                            <div>
                                <i class="icon-Group-1" style="color: red;font-size: 19px; "></i>
                            <!-- <span>Book Now</span> -->
                            &nbsp;
                            <label style="font-size: 25px;">Book Now</label>
                            <br><br>
                            </div>

                            <input type="hidden" name="carId" value="<%= car._id %>">

                            <div class="group-form">
                                <label for="">From Date:</label>
                                <input class="admin-form" aria-required="true" aria-invalid="false"
                                     value="" name="fromdate" type="date">

                            </div>
                            <div class="group-form">
                                <label for="">To Date:</label>
                                <input class="admin-form" aria-required="true" aria-invalid="false" name="todate"
                                    value="" type="date">

                            </div>
                            
                            <div class="group-form">
                                <label for="">Message:</label>
                                <textarea class="admin-form" name="message" aria-invalid="false"></textarea>
                            </div>
                            <% if(user) { %>
                                <button type="submit">Book</button>
                                <% }else{ %>
                                    <a data-bs-toggle="modal" href="#exampleModalToggle" role="button"
                                        class="fw-7 category"> <button type="submit"> Login For Book </button></a>
                                        
                                    <% } %>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- property-detail -->

    <!-- related-single-listing -->
    <div class="widget-related-single-listing">
        <div class="themesflat-container">
            <div class="related-single-listing swiper">
                <div class="swiper-wrapper">
                    <div class="listing-grid-item swiper-slide">
                        <div class="listing-item-image">
                            <div class="hover-listing-image">
                                <div class="wrap-hover-listing">
                                    <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car5.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car11.jpg"
                                                class="swiper-image lazy tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car12.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                            <div class="overlay-limit">
                                                <img src="/assets/images/car-list/img.png" class="icon-img"
                                                    alt="icon-map">
                                                <p>2 more photos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bullet-hover-listing">
                                        <div class="bl-item active"></div>
                                        <div class="bl-item"></div>
                                        <div class="bl-item"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="icon-favorite">
                                <i class="icon-heart-1-1"></i>
                            </a>
                            <span class="feature">Featured</span>
                        </div>
                        <div class="listing-item-content">
                            <div class="listing-top-content">
                                <h6 class="title"><a href="/listing-details"><a href="/listing-details">Mercedez
                                            benz - c class</a></a></h6>
                                <div class="review-wrap">
                                    <div class="rating">
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                    </div>
                                    <span class="review">( 2 Reviews )</span>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li class="listing-information fuel">
                                            <i class="icon-gasoline-pump-1"></i>
                                            <div class="inner">
                                                <span>Fuel type</span>
                                                <p>Petrol</p>
                                            </div>
                                        </li>
                                        <li class="listing-information size-engine">
                                            <i class="icon-Group1"></i>
                                            <div class="inner">
                                                <span>Mileage</span>
                                                <p>90 k.m</p>
                                            </div>
                                        </li>
                                        <li class="listing-information transmission">
                                            <i class="icon-gearbox-1"></i>
                                            <div class="inner">
                                                <span>Transmission</span>
                                                <p>Auto</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-controller">
                                    <li>
                                        <a href="#">
                                            <i class="icon-heart-1-1"></i>
                                            <span>Favorite</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shuffle-2-11"></i>
                                            <span>Compare</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-price-wrap">
                                <div class="price-wrap">
                                    <p class="price">$489</p>
                                    <p class="price-sale">$399</p>
                                </div>
                                <div class="btn-read-more">
                                    <a class="more-link" href="#">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-grid-item swiper-slide">
                        <div class="listing-item-image">
                            <div class="hover-listing-image">
                                <div class="wrap-hover-listing">
                                    <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car16.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car11.jpg"
                                                class="swiper-image lazy tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car12.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                            <div class="overlay-limit">
                                                <img src="/assets/images/car-list/img.png" class="icon-img"
                                                    alt="icon-map">
                                                <p>2 more photos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bullet-hover-listing">
                                        <div class="bl-item active"></div>
                                        <div class="bl-item"></div>
                                        <div class="bl-item"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="icon-favorite">
                                <i class="icon-heart-1-1"></i>
                            </a>
                            <span class="feature">Featured</span>
                        </div>
                        <div class="listing-item-content">
                            <div class="listing-top-content">
                                <h6 class="title"><a href="/listing-details">Mercedez benz - c class</a>
                                </h6>
                                <div class="review-wrap">
                                    <div class="rating">
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                    </div>
                                    <span class="review">( 2 Reviews )</span>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li class="listing-information fuel">
                                            <i class="icon-gasoline-pump-1"></i>
                                            <div class="inner">
                                                <span>Fuel type</span>
                                                <p>Petrol</p>
                                            </div>
                                        </li>
                                        <li class="listing-information size-engine">
                                            <i class="icon-Group1"></i>
                                            <div class="inner">
                                                <span>Mileage</span>
                                                <p>90 k.m</p>
                                            </div>
                                        </li>
                                        <li class="listing-information transmission">
                                            <i class="icon-gearbox-1"></i>
                                            <div class="inner">
                                                <span>Transmission</span>
                                                <p>Auto</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-controller">
                                    <li>
                                        <a href="#">
                                            <i class="icon-heart-1-1"></i>
                                            <span>Favorite</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shuffle-2-11"></i>
                                            <span>Compare</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-price-wrap">
                                <div class="price-wrap">
                                    <p class="price">$489</p>
                                    <p class="price-sale">$399</p>
                                </div>
                                <div class="btn-read-more">
                                    <a class="more-link" href="#">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-grid-item swiper-slide">
                        <div class="listing-item-image">
                            <div class="hover-listing-image">
                                <div class="wrap-hover-listing">
                                    <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car23.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car11.jpg"
                                                class="swiper-image lazy tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car12.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                            <div class="overlay-limit">
                                                <img src="/assets/images/car-list/img.png" class="icon-img"
                                                    alt="icon-map">
                                                <p>2 more photos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bullet-hover-listing">
                                        <div class="bl-item active"></div>
                                        <div class="bl-item"></div>
                                        <div class="bl-item"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="icon-favorite">
                                <i class="icon-heart-1-1"></i>
                            </a>
                            <span class="feature">Featured</span>
                        </div>
                        <div class="listing-item-content">
                            <div class="listing-top-content">
                                <h6 class="title"><a href="/listing-details">Mercedez benz - c class</a>
                                </h6>
                                <div class="review-wrap">
                                    <div class="rating">
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                    </div>
                                    <span class="review">( 2 Reviews )</span>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li class="listing-information fuel">
                                            <i class="icon-gasoline-pump-1"></i>
                                            <div class="inner">
                                                <span>Fuel type</span>
                                                <p>Petrol</p>
                                            </div>
                                        </li>
                                        <li class="listing-information size-engine">
                                            <i class="icon-Group1"></i>
                                            <div class="inner">
                                                <span>Mileage</span>
                                                <p>90 k.m</p>
                                            </div>
                                        </li>
                                        <li class="listing-information transmission">
                                            <i class="icon-gearbox-1"></i>
                                            <div class="inner">
                                                <span>Transmission</span>
                                                <p>Auto</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-controller">
                                    <li>
                                        <a href="#">
                                            <i class="icon-heart-1-1"></i>
                                            <span>Favorite</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shuffle-2-11"></i>
                                            <span>Compare</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-price-wrap">
                                <div class="price-wrap">
                                    <p class="price">$489</p>
                                    <p class="price-sale">$399</p>
                                </div>
                                <div class="btn-read-more">
                                    <a class="more-link" href="#">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-grid-item swiper-slide">
                        <div class="listing-item-image">
                            <div class="hover-listing-image">
                                <div class="wrap-hover-listing">
                                    <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car8.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car11.jpg"
                                                class="swiper-image lazy tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car12.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                            <div class="overlay-limit">
                                                <img src="/assets/images/car-list/img.png" class="icon-img"
                                                    alt="icon-map">
                                                <p>2 more photos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bullet-hover-listing">
                                        <div class="bl-item active"></div>
                                        <div class="bl-item"></div>
                                        <div class="bl-item"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="icon-favorite">
                                <i class="icon-heart-1-1"></i>
                            </a>
                            <span class="feature">Featured</span>
                        </div>
                        <div class="listing-item-content">
                            <div class="listing-top-content">
                                <h6 class="title"><a href="/listing-details">Mercedez benz - c class</a>
                                </h6>
                                <div class="review-wrap">
                                    <div class="rating">
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                    </div>
                                    <span class="review">( 2 Reviews )</span>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li class="listing-information fuel">
                                            <i class="icon-gasoline-pump-1"></i>
                                            <div class="inner">
                                                <span>Fuel type</span>
                                                <p>Petrol</p>
                                            </div>
                                        </li>
                                        <li class="listing-information size-engine">
                                            <i class="icon-Group1"></i>
                                            <div class="inner">
                                                <span>Mileage</span>
                                                <p>90 k.m</p>
                                            </div>
                                        </li>
                                        <li class="listing-information transmission">
                                            <i class="icon-gearbox-1"></i>
                                            <div class="inner">
                                                <span>Transmission</span>
                                                <p>Auto</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-controller">
                                    <li>
                                        <a href="#">
                                            <i class="icon-heart-1-1"></i>
                                            <span>Favorite</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shuffle-2-11"></i>
                                            <span>Compare</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-price-wrap">
                                <div class="price-wrap">
                                    <p class="price">$489</p>
                                    <p class="price-sale">$399</p>
                                </div>
                                <div class="btn-read-more">
                                    <a class="more-link" href="#">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-grid-item swiper-slide">
                        <div class="listing-item-image">
                            <div class="hover-listing-image">
                                <div class="wrap-hover-listing">
                                    <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car8.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car11.jpg"
                                                class="swiper-image lazy tfcl-light-gallery" alt="images">
                                        </div>
                                    </div>
                                    <div class="listing-item view-gallery" title="Lexus LC Hybrid 2024">
                                        <div class="images">
                                            <img src="/assets/images/car-list/car12.jpg"
                                                class="swiper-image tfcl-light-gallery" alt="images">
                                            <div class="overlay-limit">
                                                <img src="/assets/images/car-list/img.png" class="icon-img"
                                                    alt="icon-map">
                                                <p>2 more photos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bullet-hover-listing">
                                        <div class="bl-item active"></div>
                                        <div class="bl-item"></div>
                                        <div class="bl-item"></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="icon-favorite">
                                <i class="icon-heart-1-1"></i>
                            </a>
                            <span class="feature">Featured</span>
                        </div>
                        <div class="listing-item-content">
                            <div class="listing-top-content">
                                <h6 class="title"><a href="/listing-details">Mercedez benz - c class</a>
                                </h6>
                                <div class="review-wrap">
                                    <div class="rating">
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                        <i class="icon-Vector3"></i>
                                    </div>
                                    <span class="review">( 2 Reviews )</span>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li class="listing-information fuel">
                                            <i class="icon-gasoline-pump-1"></i>
                                            <div class="inner">
                                                <span>Fuel type</span>
                                                <p>Petrol</p>
                                            </div>
                                        </li>
                                        <li class="listing-information size-engine">
                                            <i class="icon-Group1"></i>
                                            <div class="inner">
                                                <span>Mileage</span>
                                                <p>90 k.m</p>
                                            </div>
                                        </li>
                                        <li class="listing-information transmission">
                                            <i class="icon-gearbox-1"></i>
                                            <div class="inner">
                                                <span>Transmission</span>
                                                <p>Auto</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-controller">
                                    <li>
                                        <a href="#">
                                            <i class="icon-heart-1-1"></i>
                                            <span>Favorite</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shuffle-2-11"></i>
                                            <span>Compare</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-price-wrap">
                                <div class="price-wrap">
                                    <p class="price">$489</p>
                                    <p class="price-sale">$399</p>
                                </div>
                                <div class="btn-read-more">
                                    <a class="more-link" href="#">
                                        <span>View details</span>
                                        <i class="icon-arrow-right2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- related-single-listing -->


    <%- include('./footer.ejs') %>